<div class="container" style="font-size: 0.75rem;">
  <div class="row">
    <div class="col">
      <img src="../../../assets/2560px-Telcel_logo.svg.png" 
           alt="telcel logo"
           style="width: 180px;">
    </div>
    <div class="col">
      <div class="text-center fs-6">FORMATO VERIFICACION AGENCIA EXTERNA</div>
    </div>
  </div>
</div>

<div class="container" style="font-size: 0.75rem;">
  <div class="row">
    <div class="col">
      <div>Msidn: {{ solicitud.numeroAsignado }}</div>
      <div>Disitribuidor: </div>
      <div>Folio SISACT: </div>
      <div>Folio tramite: </div>
      <div>Hora sugerida de </div>
      <div>Tipo Proyecto: {{ solicitud.tipoProyecto }}</div>
      <div>Tipo Activacion: {{ solicitud.modalidad }}</div>
    </div>
    <div class="col">
      <div>Verificador:</div>
      <div>Region: </div>
      <div>Fecha reception: {{ solicitud.fCaptura }}</div>
      <div>Fecha entrada: {{ solicitud.fCaptura }}</div>
      <div>Folio Agencia: {{ solicitud.folio }}</div>
      <div>Mercado:</div>
      <div>Agencia que verifica: GUILLERMO PAZ MONROY</div>
    </div>
  </div>
</div>

<!-- <div>&nbsp;</div> -->

<div class="container border border-primary rounded-3" style="font-size: 0.75rem;">
  <div class="text-center fs-6">DATOS DEL CLIENTE</div>
  <div class="row">
    <div class="col">
      <div>
        <div>Apellido Paterno:</div>
        <div>
          {{ splitName(solicitud.nombreCompleto)[0] }}
        </div>
      </div>
      <div>
        <div>R.F.C.:</div>
        <div>{{ solicitud.rfc }}</div>
      </div>
    </div>
    <div class="col">
      <div>
        <div>Apellido Materno:</div>
        <div *ngIf="splitName(solicitud.nombreCompleto).length > 1">
          {{ splitName(solicitud.nombreCompleto)[1] }}
        </div>
      </div>
      <div>
        <div>Edad:</div>
        <div>{{ getAge(solicitud.rfc) }}</div>
      </div>
    </div>
    <div class="col">
      <div>
        <div>Nombre(s)</div>
        <div *ngIf="splitName(solicitud.nombreCompleto).length > 2">
          {{ splitName(solicitud.nombreCompleto)[2] }}
          <span *ngIf="splitName(solicitud.nombreCompleto).length > 3">
            &nbsp;{{ splitName(solicitud.nombreCompleto)[3] }}
          </span>
        </div>
      </div>
      <div>
        <div>Telefono Oficina:</div>
        <div>{{ solicitud.telefonoNom20 }}</div>
      </div>
    </div>
    <div class="col">
      <div>
        <div>Telefono:</div>
        <div>{{ solicitud.telefono }}</div>
      </div>
      <div>
        <div>Ext:</div>
        <div *ngIf="solicitud.telefonoRep; else elseBlock">
          <br/>
        </div>
        <ng-template #elseBlock>
          {{ solicitud.telefonoRep }}
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>Nombre ref 1: {{ solicitud.refNom1 }}</div>
      <div>Nombre ref 2: {{ solicitud.refNom2 }}</div>
      <div>Nombre ref 3: {{ solicitud.refNom3 }}</div>
    </div>
    <div class="col">
      <div>Telefono Ref 1: {{ solicitud.refTel }}</div>
      <div>Telefono Ref 2: {{ solicitud.refTel2 }}</div>
      <div>Telefono Ref 3: {{ solicitud.refTel3 }}</div>
    </div>
  </div>
</div>

<!-- <div>&nbsp;</div> -->

<div class="container border border-primary rounded-3" style="font-size: 0.75rem;">
  <div class="text-center fs-6">DOMICILIO CLIENTE</div>
  <div class="row">
    <div class="col">
      <div>
        <div>Calle:</div>
        <div>{{ solicitud.calle }}</div>
      </div>
      <div>
        <div>Codigo Postal:</div>
        <div>{{ solicitud.cp }}</div>
      </div>
      <div>
        <div>ENTRE CALLES:</div>
        <div>{{ solicitud.entrecalle }}</div>
      </div>
    </div>
    <div class="col">
      <div>
        <div>No. Ext: {{ solicitud.noExterior }}</div>
        <div>No. Int: <span *ngIf="solicitud.noInterior != '0'">
          {{ solicitud.noInterior }}
        </span></div>
      </div>
      <div>
        <div>Alcaldia/Municipio:</div>
        <div>{{ solicitud.municipio }}</div>
      </div>
    </div>
    <div class="col">
      <div>
        <div>Colonia:</div>
        <div>{{ solicitud.colonia }}</div>
      </div>
      <div>
        <div>Estado:</div>
        <div>{{ solicitud.estado }}</div>
      </div>
    </div>
  </div>
</div>

<!-- <div>&nbsp;</div> -->

<div class="container border border-primary rounded-3" style="font-size: 0.75rem;">
  <div class="text-center fs-6">RESULTADO DE LA VERIFICACION</div>
  <div class="row">
    <div class="col">
      <div>SE CONFIRMAN DATOS EN DOMICILIO:</div>
      <div>Observaciones adicionales:</div>
      <br>
      <div>TIPO INMUEBLE:</div>
      <div>COLOR FACHADA:</div>
      <div>NIVELES DE CONSTRUCCION:</div>
      <div>TIPO DE PUERTA:</div>
      <div>COLOR DE PUERTA:</div>
      <div>Geolocalizacion:</div>
      <div>USUARIO DE CAPTURA:</div>
    </div>
    <div class="col">
      <div>
        Persona que atiende la visita
      </div>
    </div>
  </div>
</div>

<!-- <div>&nbsp;</div> -->

<div class="container border border-primary rounded-3" style="font-size: 0.75rem;">
  <div class="text-center fs-6">RESULTADO DE TELEFONIA</div>
  <div class="row">
    <div class="col">
      <div>Telefono Particular:</div>
      <div>Parentesco:</div>
      <div>Telefono de oficina:</div>
      <div>Parentesco:</div>
      <div>OBSERVACIONES TELEFONO OFICINA:</div>
      <div>&nbsp;</div>
      <div>Telefono de referencia 1:</div>
      <div>Parentesco:</div>
      <div>Telefono de referencia 2:</div>
      <div>Parentesco:</div>
      <div>Telefono de referencia 3:</div>
      <div>Parentesco:</div>
      <div>&nbsp;</div>
      <div>Observaciones</div>
      <div>&nbsp;</div>
      <div>USUARIO CAPTURA TELEFONIA:</div>
    </div>
    <div class="col">
      <div>Persona que atiende</div>
      <div>&nbsp;</div>
      <div>Nombre Confirma:</div>
    </div>
  </div>
</div>

<h1 style="page-break-after: always;"></h1>
