<div class="container">
  <div class="row">
    <div class="col">
      <img src="" alt="telcel logo">
      <h2>TELCEL</h2>
    </div>
    <div class="col">
      <div class="fs-4">FORMATO DE VERIFICACION AGENCIA EXTERNA</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div>Msidn: {{ solicitud.numeroAsignado }}</div>
      <div>Disitribuidor: </div>
      <div>Folio SISACT: </div>
      <div>Folio tramite: </div>
      <div>Hora sugerida de </div>
      <div>Tipo Proyecto: {{ solicitud.tipoProyecto }}</div>
      <div>Tipo Activacion: {{ solicitud.modalidad }}</div>
    </div>
    <div class="col">
      <div>Verificador:</div>
      <div>Region: </div>
      <div>Fecha reception: {{ solicitud.fCaptura }}</div>
      <div>Fecha entrada: {{ solicitud.fCaptura }}</div>
      <div>Folio Agencia: {{ solicitud.folio }}</div>
      <div>Mercado:</div>
      <div>Agencia que verifica: GUILLERMO PAZ MONROY</div>
    </div>
  </div>
</div>

<br>

<div class="container border border-primary rounded-3">
  <div class="text-center fs-5">DATOS DEL CLIENTE</div>
  <div class="row">
    <div class="col">
      <div>
        <div>Apellido Paterno:</div>
        <div>
          {{ splitName(solicitud.nombreCompleto)[0] }}
        </div>
      </div>
      <div>
        <div>R.F.C.:</div>
        <div>{{ solicitud.rfc }}</div>
      </div>
      <div>Nombre de la referencia 1:</div>
      <div>Nombre de la referencia 2:</div>
      <div>Nombre de la referencia 3:</div>
    </div>
    <div class="col">
      <div>
        <div>Apellido Materno:</div>
        <div *ngIf="splitName(solicitud.nombreCompleto).length > 1">
          {{ splitName(solicitud.nombreCompleto)[1] }}
        </div>
      </div>
      <div>
        <div>Edad:</div>
        <div>{{ getAge(solicitud.rfc) }}</div>
      </div>
      <div>{{ solicitud.refNom1 }}</div>
      <div>{{ solicitud.refNom2 }}</div>
      <div>{{ solicitud.refNom3 }}</div>
    </div>
    <div class="col">
      <div>
        <div>Nombre(s)</div>
        <div *ngIf="splitName(solicitud.nombreCompleto).length > 2">
          {{ splitName(solicitud.nombreCompleto)[2] }}
          <span *ngIf="splitName(solicitud.nombreCompleto).length > 3">
            &nbsp;{{ splitName(solicitud.nombreCompleto)[3] }}
          </span>
        </div>
      </div>
      <div>
        <div>Telefono Oficina:</div>
        <div>{{ solicitud.telefonoNom20 }}</div>
      </div>
      <div>Telefono Referencia 1:</div>
      <div>Telefono Referencia 2:</div>
      <div>Telefono Referencia 3:</div>
    </div>
    <div class="col">
      <div>
        <div>Telefono:</div>
        <div>{{ solicitud.telefono }}</div>
      </div>
      <div>
        <div>Ext:</div>
        <div *ngIf="solicitud.telefonoRep; else elseBlock">
          <br/>
        </div>
        <ng-template #elseBlock>
          {{ solicitud.telefonoRep }}
        </ng-template>
      </div>
      <div>{{ solicitud.refTel }}</div>
      <div>{{ solicitud.refTel2 }}</div>
      <div>{{ solicitud.refTel3 }}</div>
    </div>
  </div>
</div>

<br/>

<div class="container border border-primary rounder-3">
  <div class="text-center fs-5">DOMICILIO CLIENTE</div>
  <div class="row">
    <div class="col">
      <div>
        <div>Calle:</div>
        <div>{{ solicitud.calle }}</div>
      </div>
      <div>
        <div>Codigo Postal:</div>
        <div>{{ solicitud.cp }}</div>
      </div>
      <div>
        <div>ENTRE CALLES:</div>
        <div>{{ solicitud.entrecalle }}</div>
      </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>

<h1 style="page-break-after: always;"></h1>
