<style type="text/css">
h1 {
  page-break-before: always;
}
</style>
<h1>Solicitud para impresion</h1>
<button type="button">print</button>
<div id='To be printed'>
  <h1>Section 1</h1>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nostrum vitae cumque dolorem recusandae dignissimos voluptatibus placeat itaque iusto repudiandae in perferendis sit, error nobis, reiciendis inventore temporibus dolore consectetur!
  </div>
  <h1>Section 2</h1>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque laudantium molestiae optio nobis praesentium possimus at blanditiis accusantium. Perspiciatis iste veniam asperiores. Doloribus ab reprehenderit sed saepe rem ipsa laboriosam.
  </div>
</div>
